.navlink, .navlink:visited {
  color: #fff;
  -webkit-transition: color 0.5s; /* Safari */
  transition: color 0.5s;
}
.navlink:hover {
  color: #1fccdc;
  background-color: transparent;
  -webkit-transition: color 0.5s; /* Safari */
  transition: color 0.5s;
}
.navlink-current, .navlink-current:visited {
  color: #1fccdc;
  -webkit-transition: color 0.5s; /* Safari */
  transition: color 0.5s;
}
.navlink-current:hover {
  color: #fff;
  background-color: transparent;
  -webkit-transition: color 0.5s; /* Safari */
  transition: color 0.5s;
}
.navlink-error {
  color: #F00;
}
.logo-nav-wrap {
  padding: 0;
  margin: 0;
  float: left;
}
.logo-nav, .logo-nav:hover {
  width: 253px;
  border: none;
}
.logo-nav:hover, .logo-nav:visited {
  background-color: transparent;
}
a:visited {
  color: inherit;
  background-color: transparent;
}
